<div class="prelative">

  <div class="anger_base1"></div>
  <div class="anger_overlay1"></div>

  <!-- page content -->
  <div class="right_col mc_01">				
    <!-- Class -->  
    <div class="cw100p">
      <div class="row center_flex">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>

                <h1 class="txt1 tcenter">
                  Conditioning
                </h1>           
            
                <!-- audio  -->                
                <!-- angular audio player plugin -->  
                <div class="row tcenter">
                  <div class="col-md-12 col-sm-12 col-xs-12 p7rem">
                    <ngx-circular-player id="aud1" strokeColor="#FFC455" source=""></ngx-circular-player>                  
                  </div>
                </div>
                <!-- /angular audio player plugin -->    
                <!-- /audio --> 
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Class --> 
  </div>
  <!-- /page content -->

</div>