<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 bg_chathams_blue mdp_header">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a>
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_white_search.svg" alt="" class="img-responsive">
      </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

    </div>
  </div>
</div>
<!-- /top navigation --> 

<!-- page content -->
<div class="right_col mc_01">				
  <!-- Class -->
  <div class="cw100p">   
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 sc_01 bg_white">
        <div class="x_panel p0">
          <div class="x_content p0">

            <!-- content  -->
            <div class="plr10px content_top bg_chathams_blue mh100vh">
              <div class="row center_flex">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr_01">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr_01 center_flex">
                    <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/wisdom_points_redeem_owl.svg" alt="" class="img-responsive">
                    <div class="prelative center_flex">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/wisdom_points_redeem_circle.svg" alt="" class="img-responsive">
                      <h4 class="mtb0px txt232 absolute_rwpts">
                        8888
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row center_flex rwpts_index_title">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr_01">
                  <h4 class="mtb0px txt233 tcenter">
                    Redeem your Wisdom Points
                  </h4>
                </div>
              </div>

              <div class="row center_flex">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr_01">
                  <h4 class="mtb0px txt234 tcenter">
                    Wisdom points are earned based on your progress through the app and its various features
                  </h4>
                </div>
              </div>

              <div class="row center_flex rwpts_index_view_history">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr_01">
                  <a href="">
                    <h4 class="mtb0px txt141 underline tcenter">
                      View History
                    </h4>
                  </a>
                </div>
              </div>

              <!-- hwp -->
              <div class="row center_flex rwpts_index_view_history">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr_01">
                  <a>
                    <div class="panel panel-default rwpts_panel">
                      <div class="panel-heading">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/wisdom_points/wisdom_points_redeem_hwp_01.svg" alt="" class="img-responsive img_rwpts">
                      </div>
                      <div class="panel-body">
                        <div class="row center_flex">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0">
                              <h4 class="mtb0px txt235 tleft">
                                <span class="mtb0px txt236">
                                  1000
                                </span>
                                wisdom points
                              </h4>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 tright">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/logo/rwpts_hwp_01.svg" alt="" class="img-responsive">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <!-- /hwp -->

              <!-- treesisters -->
              <div class="row center_flex rwpts_index_view_history">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr_01">
                  <a href="">
                    <div class="panel panel-default rwpts_panel">
                      <div class="panel-heading">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/wisdom_points/wisdom_points_redeem_treesisters_01.svg" alt="" class="img-responsive img_rwpts">
                      </div>
                      <div class="panel-body">
                        <div class="row center_flex">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0">
                              <h4 class="mtb0px txt235 tleft">
                                <span class="mtb0px txt236">
                                  5000
                                </span>
                                wisdom points
                              </h4>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 tright">
                              <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/logo/rwpts_treesisters_01.svg" alt="" class="img-responsive">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <!-- /treesisters -->

              <div class="pagebreak"></div>
            </div>
            <!-- /content  -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->