<!-- top navigation -->
<div class="nav_search col-lg-12 col-md-12 col-sm-12 col-xs-12 onscrollbg_transparent">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 flex_ai">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
        <a class="">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_grey_02.svg" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
        <a class="">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/share_grey_02.svg" alt="" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /top navigation --> 

<!-- content  -->
<div class="plr10px">
  <div class="row center_flex mlr-10px">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0">
      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/wisdom_points/wisdom_points_redeem_hwp_02.svg" alt="" class="img-responsive w100p">
    </div>
  </div>

  <div class="row center_flex img_rwpts_hwp_02">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 plr_01">
      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/logo/rwpts_hwp_02.svg" alt="" class="img-responsive w100p">
    </div>
  </div>

  <div class="row center_flex mlr-10px">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0">
      <hr class="hr_style_15">
    </div>
  </div>

  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 brwpts">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <h4 class="mtb0px mb5px txt120">
            POINTS
          </h4>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <h4 class="mtb0px txt61">
            <span class="mtb0px txt235">
              1000
            </span>
            wisdom points
          </h4>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pvalidity">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <h4 class="mtb0px mb5px txt120">
            VALIDITY
          </h4>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <h4 class="mtb0px txt120">
            08 Jan 2022
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row center_flex mlr-10px">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0">
      <hr class="hr_style_15">
    </div>
  </div>

  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <h4 class="mtb0px txt212 highlights">
        Highlights
      </h4>
    </div>
  </div>

  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <h4 class="mtb0px txt61 highlights_desc">
        Exchange these wisdom points to avail a 25% discount on  renewal or a gift subscription of the HumanWisdom App.
      </h4>
      <h4 class="mtb0px txt61 highlights_desc">
        Here’s how to redeem this reward:
      </h4>
      <ol class="mtb0px txt61 highlights_ol">
        <li>
          Tap ‘Redeem’ and confirm the redemption.
        </li>
        <li>
          Copy the code and be redirected to the subscription page on humanwisdom.me
        </li>
        <li>
          Apply the code upon checkout.
        </li>
      </ol>
    </div>
  </div>

  <div class="row center_flex mlr-10px">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0">
      <hr class="hr_style_15">
    </div>
  </div>

  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <h4 class="mtb0px txt212 tandc">
        Terms & Conditions
      </h4>
    </div>
  </div>

  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 plr_01">
      <ul class="mtb0px txt61 tandc_ul">
        <li>
          Limited to 3 rewards per consumer
        </li>
        <li>
          Voucher is valid till 8 January 2022 only
        </li>
        <li>
          Voucher is applicable for single use only.
        </li>
        <li>
          HumanWisdom reserves the right to cancel suspicious orders without prior notice. This includes voucher abuse, including vouchers redeemed using multiple accounts or multiple checkouts associated with the same customer or group of customers, and vouchers used in bad faith.
        </li>
        <li>
          HumanWisdom reserves the right to change the Terms & Conditions at any time without prior notice.
        </li>
      </ul>
    </div>
  </div>

  <div class="pagebreak"></div>
</div>
<!-- /content  -->

<!-- footer  -->
<div class="sidebar-footer footer_faq">  
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tcenter center_flex">
      <button  type="button" class="btn btn-warning btn_faq" data-toggle="modal" data-target="#redeem">
        Redeem
      </button>
    </div>
  </div>  
</div>
<!-- /footer -->

<!-- modal - redeem -->
<div class="modal fade" id="redeem" data-keyboard="false" data-backdrop="true">
  <!-- modal-body -->
  <div class="" role="document">       
    <!-- modal content -->          
    <div class="row center_flex modal_bottom_outer">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 modal_bottom_inner">          
        <div class="redeem">
          <div class="row center_flex mreward_title">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0">     
              <h4 class="mtb0px txt215">
                Get this Reward!
              </h4>
            </div>
          </div>  

          <div class="row center_flex">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0">     
              <h4 class="mtb0px txt120">
                Redeem with 1000 points?
              </h4>
            </div>
          </div>  
          
          <div class="row center_flex mb10px rcancel_confirm">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0">
              <div class="col-md-6 col-sm-6 col-xs-6 pl0px">     
                <button  type="button" class="btn btn-warning btn_rwpts_cancel" data-dismiss="modal">
                  Cancel
                </button>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 pr0px">     
                <button  type="button" class="btn btn-warning btn_rwpts_confirm" data-dismiss="modal">
                  Confirm
                </button>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <!-- /modal content -->      
  </div>  
  <!-- /modal-body -->
</div>
<!-- /modal - redeem -->