<!-- <app-audio-header></app-audio-header> -->
<!-- <app-course-header></app-course-header> -->
<!-- <app-feature-header></app-feature-header> -->
<!-- <app-tn-close></app-tn-close> -->
<!-- <app-tn-cross></app-tn-cross> -->
<!-- <app-tn-dashboard-v03></app-tn-dashboard-v03> -->
<!-- <app-tn-edit-bookmark-share></app-tn-edit-bookmark-share> -->
<!-- <app-tn-hwp-project></app-tn-hwp-project> -->
<!-- <app-transcript-listen></app-transcript-listen> -->
<!-- <app-toc-header></app-toc-header> -->
<!-- <app-toc-topnav></app-toc-topnav> -->
<!-- <app-transcript-header></app-transcript-header> -->

<!-- <app-audio-bucket></app-audio-bucket> -->
<!-- <app-audio-bullet></app-audio-bullet> -->
<!-- <app-audio-circles></app-audio-circles> -->
<!-- <app-audio-content></app-audio-content> -->
<!-- <app-audio-diagram></app-audio-diagram> -->
<!-- <app-audio-element></app-audio-element> -->
<!-- <app-audio-image-overlay></app-audio-image-overlay> --> <!--retest-->
<!-- <app-begin-survey></app-begin-survey> -->
<!-- <app-end-header></app-end-header> --><!--delete-->
<!-- <app-feedback-question></app-feedback-question> -->
<!-- <app-image-audio></app-image-audio> -->
<!-- <app-image-text></app-image-text> --> <!--retest-->
<!-- <app-index-content></app-index-content> -->
<!-- <app-kta-done></app-kta-done> -->
<!-- <app-lengthy-text></app-lengthy-text> -->
<!-- <app-likert-scale></app-likert-scale> -->
<!-- <app-module-end></app-module-end> -->
<!-- <app-multi-select></app-multi-select> -->
<!-- <app-oneline-text></app-oneline-text> -->
<!-- <app-only-slider></app-only-slider> -->
<!-- <app-program-content></app-program-content> -->
<!-- <app-progress-slider></app-progress-slider> -->
<!-- <app-progress-slider3></app-progress-slider3> -->
<!-- <app-pyramid-content></app-pyramid-content> -->
<!-- <app-quotation></app-quotation> -->
<!-- <app-reflection></app-reflection> -->
<!-- <app-related-wisdom-stories></app-related-wisdom-stories> -->
<!-- <app-related-wisdom-stories-tiles></app-related-wisdom-stories-tiles> -->
<!-- <app-session-end></app-session-end> -->
<!-- <app-sessionover-s1></app-sessionover-s1> -->
<!-- <app-sessionover-s2></app-sessionover-s2> -->
<!-- <app-simple-text></app-simple-text> -->
<!-- <app-single-select></app-single-select> -->
<!-- <app-tap-start></app-tap-start> -->
<!-- <app-text></app-text> --><!--delete-->
<!-- <app-transcript-content></app-transcript-content> -->
<!-- <app-txt-overlay-top></app-txt-overlay-top> --><!--retest-->
<!-- <app-video-content></app-video-content> -->

<!-- <app-bottom-navigation></app-bottom-navigation> -->
<!-- <app-course-footer></app-course-footer> --> <!--retest-->
<!-- <app-feedback-footer></app-feedback-footer> -->
<!-- <app-ft-prev-next></app-ft-prev-next> --><!--retest-->
<!-- <app-index-footer></app-index-footer> -->
<!-- <app-kta-footer></app-kta-footer> -->