<!-- page content -->
<div class="right_col mc_01">				
  <!-- Class -->  
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 teal_w1">
        <div class="x_panel p0">                                                
          <div class="x_content p0">
            
            <form>
              <h4 class="txt4">
                question
              </h4>
              <div class="clearfix"></div>
          
              <h6 class="txt5 pb10p">
                Click all that apply
              </h6>
          
              <div> 
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <a class="">
                      <div class="box cb_box tleft flex_left cb1_box">                        
                        <!-- svg checkbox -->
                        <input class="inp-cbx"type="checkbox"/>
                        <label class="cbx mt0px">
                          <span>
                            <svg width="12px" height="10px">
                              <use xlink:href="#check"></use>
                            </svg>
                          </span>
                          <span class="txt46 cb_span">
                           option
                          </span>
                        </label>
                        <!--SVG Sprites-->
                        <svg class="inline-svg">
                          <symbol id="check" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                          </symbol>
                        </svg>
                        <!-- /svg checkbox -->
                      </div>                    
                    </a>
                  </div>
                </div>
          
                <br>
          
              </div>
            
              <div class="pagebreak"></div>
            </form> 

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->