<!-- page content -->
<div class="right_col mc_01">				  
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_orange">
        <div class="x_panel p0"> 
          <div class="x_content p0">
            
            <div class="row pb3rem">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="tcenter">
                  <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/icons/body/keytakeaway.png" alt="" class="img_kta cmw"> -->
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/lightbulb.svg" alt="" class="img_kta cmw">
                </div>
              </div>
            </div>  

            <form class="">
    
              <h1 class="txt3">
                Waking up to and exploring the process of anger in our thinking can allow us to respond with wisdom, and also help us understand others
              </h1>
              <div class="clearfix"></div>
          
              <!-- <br><br><br><br><br> -->
          
              <div class="row tcenter ptkta">
                <div class="col-md-12 col-sm-12 col-xs-12">                    
                  <!-- <a class="btn_pulse_next_done" routerLink="/adults/comparison/m1s1-p15"> -->
                  <a class="btn_pulse_next_done">
                    <!-- <i class="fa fa-check"></i> -->
                    <h6 class="btn_pulse_next_done_txt">
                      Done
                    </h6>
                  </a>
                </div>
              </div>
              
            </form> 

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->