<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back box_shadow_unset">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0"></div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0"></div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
      <a class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/close.svg" alt="" class="p0">
      </a>
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/email_sent_tick.svg" class="img-responsive">
                </div>
              </div>

              <div class="row mt30px mb15px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                  <h4 class="mtb0px fs_24px fw_600 lh_125p fc_ffffff">
                    Email has been sent!
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                  <h4 class="mtb0px fs_15px fw_400 lh_150p fc_ffffff">
                    Please check your inbox and click on the received link to reset your password
                  </h4>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!-- footer  -->
<div class="mfooter">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 v1_3_sfooter_01">
      <a>
        <button type="button" class="btn btn_tfas">
          Sign in
        </button>
      </a>
    </div>
  </div>
</div>
<!-- /footer -->