<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Profile
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
      <a class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/settings.svg" alt="" class="p0">
      </a>
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- Class -->
  <div class="cw100p">

    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <!-- new code -->
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">

                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/v3_testimonial_adam_beagley.svg" alt="" class="img-responsive border_profile_img"/>
                    </div>
                  </div>

                  <div class="pt1 profile_pe_div">
                    <div class="row mt35px mb5px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_18px fw_600 lh_150p fc_ffffff">
                          Hellen Boothman
                        </h4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h6 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_5">
                          hellen.boothman@gmail.com
                        </h6>
                      </div>
                    </div>

                    <div class="row mtb20px center_flex">
                      <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 p0 center_flex">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
                          <div class="prelative">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/profile_wisdom_points.svg" class="img-responsive w100p">
                            <h4 class="mtb0px fs_12px fw_600 lh_100p fc_ffffff absolute_center_txt">
                              27
                            </h4>
                          </div>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 p0">
                          <h4 class="mtb0px fs_15px fw_600 lh_150p fc_ffffff">
                            Wisdom points
                          </h4>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 p0 tright ws_nowrap">
                          <h4 class="mtb0px fs_12px fw_500 lh_150p fc_e58d82">
                            Redeem now
                            <i class="fa fa-angle-right ml10px"></i>
                          </h4>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0">
                          <h4 class="mtb0px fs_12px fw_400 lh_18px fc_ffffff tleft">
                            Progress
                          </h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0">
                          <h4 class="mtb0px fs_15px fw_600 lh_18px fc_ffffff tright">
                            86%
                          </h4>
                        </div>
                      </div>
                    </div>

                    <div class="row mt5px">
                      <div class="col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="progress progress-sm progress_profile">
                          <div class="progress-bar" role="progressbar" aria-valuemax="100" style="width: 50%;"></div>
                        </div>
                      </div>
                    </div>

                    <div class="row mtb20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
                          <h4 class="mtb0px fs_15px fw_700 lh_150p fc_ffffff">
                            16
                          </h4>

                          <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_5">
                            Modules
                          </h4>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
                          <h4 class="mtb0px fs_15px fw_700 lh_150p fc_ffffff">
                            12
                          </h4>

                          <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_5">
                            Notes
                          </h4>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
                          <h4 class="mtb0px fs_15px fw_700 lh_150p fc_ffffff">
                            4
                          </h4>

                          <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_5">
                            Surveys
                          </h4>
                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 tleft">
                          <button type="button" class="btn btn_profile_ep">
                            Edit Profile
                          </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 tright">
                          <button type="button" class="btn btn_profile_cp">
                            Change password
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="div_wss mt20px">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0 tleft">
                          <h4 class="mtb0px fs_15px fw_600 lh_150p fc_ffffff tleft">
                            Wisdom survey score
                          </h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tright">
                          <h4 class="mtb0px fs_12px fw_500 lh_150p fc_e58d82">
                            Insights
                            <i class="fa fa-angle-right ml10px"></i>
                          </h4>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <hr class="hr_style_v3_04 mtb15pxi">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_30px fw_700 lh_140p fc_e58d82 tleft">
                          74%
                        </h4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff tleft">
                          12% up since last survey
                        </h4>
                      </div>
                    </div>

                    <div class="row mt20px mb10px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <button type="button" class="btn btn_ttws">
                          Take the wisdom survey
                        </button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fs_12px fw_400 lh_140p fc_ffffff tleft">
                          Fill the wisdom survey once a week and track your wisdom progress
                        </h4>
                      </div>
                    </div>
                  </div>

                  <div class="row mt20px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                      <h4 class="mtb0px fs_15px fw_600 lh_150p fc_ffffff tleft">
                        This week
                      </h4>
                    </div>
                  </div>

                  <div class="row mtb15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 btn_days ws_nowrap">
                      <button type="button" class="btn btn_profile_days peach">
                        S
                      </button>

                      <button type="button" class="btn btn_profile_days peach">
                        M
                      </button>

                      <button type="button" class="btn btn_profile_days gray">
                        T
                      </button>

                      <button type="button" class="btn btn_profile_days peach">
                        W
                      </button>

                      <button type="button" class="btn btn_profile_days gray">
                        T
                      </button>

                      <button type="button" class="btn btn_profile_days">
                        F
                      </button>

                      <button type="button" class="btn btn_profile_days">
                        S
                      </button>
                    </div>
                  </div>

                  <div class="row mt20px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">

                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                            <h4 class="mt0px fs_15px fw_600 lh_150p fc_ffffff">
                              45 minutes
                            </h4>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                            <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_5">
                              This week
                            </h4> 
                          </div>
                        </div>
                      </div>

                      <div class="div_middle left"></div>

                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 div_middle">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                            <h4 class="mt0px fs_15px fw_600 lh_150p fc_ffffff">
                              2 days
                            </h4>  
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                            <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_5">
                              Streak
                            </h4>
                          </div>
                        </div>
                      </div>

                      <div class="div_middle right"></div>

                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                            <h4 class="mt0px fs_15px fw_600 lh_150p fc_ffffff">
                              72 hours
                            </h4> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 tcenter">
                            <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_5">
                              Total usage
                            </h4>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="row mtb20px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                      <hr class="hr_style_v3_04">
                    </div>
                  </div>

                  <div class="div_pi">
                    <a>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
                            <h4 class="mt0px mb5px fs_15px fw_600 lh_150p fc_ffffff">
                              Payment Details
                            </h4>

                            <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_7">
                              Mastercard 42xx xxxx xxxx xx91
                            </h4>
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tright">
                            <h4 class="mtb0px fs_12px fw_500 lh_150p fc_e58d82">
                              Update
                              <i class="fa fa-angle-right ml10px"></i>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </a>

                    <a>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
                            <h4 class="mt0px mb5px fs_15px fw_600 lh_150p fc_ffffff">
                              Subscription
                            </h4>

                            <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_7">
                              Adult: A4729108D
                            </h4>
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tright">
                            <h4 class="mtb0px fs_12px fw_500 lh_150p fc_e58d82">
                              Details
                              <i class="fa fa-angle-right ml10px"></i>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </a>

                    <a>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <h4 class="mt0px mb5px fs_15px fw_600 lh_150p fc_ffffff">
                            Certificates
                          </h4>

                          <h4 class="mtb0px fs_12px fw_400 lh_150p fc_ffffff_0_7">
                            No certificates earned yet
                          </h4>
                        </div>
                      </div>
                    </a>

                    <a>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
                            <h4 class="mt0px mb5px fs_15px fw_600 lh_150p fc_ffffff">
                              Invite Friends
                            </h4>
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0 tright">
                            <h4 class="mtb0px fs_12px fw_500 lh_150p fc_e58d82">
                              Share
                              <i class="fa fa-angle-right ml10px"></i>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="row mt20px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                      <button type="button" class="btn profile_dmd center_flex">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/profile_trash.svg" class="img-responsive mr10px">
                        Delete my data
                      </button>
                    </div>
                  </div>

                </div>
              </div>
              <!-- /new code -->

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->