<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter">
        Profile
      </h1>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
      <a class="">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/settings.svg" alt="" class="p0">
      </a>
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- Class -->
  <div class="cw100p">

    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 sc_01 bg_user_profile">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form>

              <!-- new code -->
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
  
                  <div class="prelative">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 tcenter">
                        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/v3_testimonial_adam_beagley.svg" alt="" class="img-responsive"/>
                      </div>
                    </div>
  
                    <div class="row pt1">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_400 fs_15px lh_140p fc_e58d82 mt10px mb5px ">
                          Adam Beagley
                        </h4>
                      </div>
  
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h6 class="fw_400 fs_12px lh_140p fc_e58d82 ttuppercase mt0px mb20px">
                          STUDENT, UK
                        </h6>
                      </div>
  
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="fw_400 fs_15px lh_140p fc_ffffff_0_5 italic tleft mb0px ttxt">
                          HumanWisdom has helped me become emotionally intelligent. I used to be shy, passive and fearful. The app has transformed my way of thinking and relieved ...
                        </p>
                      </div>
  
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="fw_600 fs_12px lh_140p fc_ffffff_0_5 ttuppercase mt20px mb0px tright">
                          READ MORE
                        </h4>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- /new code -->

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->