<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_title_back">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
      <a class="">                          
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/v1_3/arrow_left.svg" alt="" class="p0">
      </a>  
    </div>
    
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0" >
      <h1 class="fw_600 fs_18px lh_140p fc_ffffff mtb0px tcenter ws_pre">
        Find answers
      </h1>  
    </div>
    
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
    </div>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_292d56">
        <div class="x_panel p0">
          <div class="x_content p0">

            <div class="mt30px">

              <ul class="nav nav-tabs fqant flex_ai mt30px">
                <li class="active">
                  <a data-toggle="tab" href="#tab1">
                    Why do I ... ?
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#tab2">
                    How can I ... ?
                  </a>
                </li>                  
              </ul>

              <div class="tab-content mt30px">
                <div id="tab1" class="tab-pane fade in active">
                  <div class="div_fq">
                    <div class="row mt40px mb40px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fw_400 fs_15px lh_140p fc_ffffff">
                          Many of our thoughts and feelings arise spontaneously, or as an automatic reaction to what is happening around us. By understanding why we think or feel the way we do, we can think clearly, understand others better, and be happier.
                        </h4>
                      </div>
                    </div>
      
                    <a>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                            <h4 class="mtb0px fw_400 fs_15px lh_150p fc_e58d82 ellipsis">
                              Why do we have different opinions about the same fact?
                            </h4>
                          </div>
          
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
                            <i class="fa fa-angle-right fs_20px fc_ffffff"></i>
                          </div>
          
                        </div>
                      </div>
                    </a>

                    <a>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                            <h4 class="mtb0px fw_400 fs_15px lh_150p fc_e58d82 ellipsis">
                              Why do I feel envious?
                            </h4>
                          </div>
          
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
                            <i class="fa fa-angle-right fs_20px fc_ffffff"></i>
                          </div>
          
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div id="tab2" class="tab-pane fade">
                  <div class="div_fq">
                    <div class="row mt40px mb40px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="mtb0px fw_400 fs_15px lh_140p fc_ffffff">
                          Life is full of challenges and sometimes we can struggle to cope. Explore fresh ways of overcoming these challenges with a calm mind. 
                        </h4>
                      </div>
                    </div>
      
                    <a>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                            <h4 class="mtb0px fw_400 fs_15px lh_150p fc_e58d82 ellipsis">
                              How can I be less stressed?
                            </h4>
                          </div>
          
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
                            <i class="fa fa-angle-right fs_20px fc_ffffff"></i>
                          </div>
          
                        </div>
                      </div>
                    </a>

                    <a>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                          
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 p0">
                            <h4 class="mtb0px fw_400 fs_15px lh_150p fc_e58d82 ellipsis">
                              How can I be happier?
                            </h4>
                          </div>
          
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p0 tright">
                            <i class="fa fa-angle-right fs_20px fc_ffffff"></i>
                          </div>
          
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

            </div>

            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<div class="mfooter p0">
  <div class="row center_flex">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tcenter center_flex ftray">

      <a class="footer_index">
        <div>
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/v3_footer_home_inactive.svg" alt="">
          <p class="mb0px fw_400 fs_10px lh_15px fc_ffffff_0_5">
            Home
          </p>
        </div>

        <div class="display_none">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/v3_footer_home_active.svg" alt="">
          <p class="mb0px fw_600 fs_10px lh_15px fc_ffffff">
            Home
          </p>
        </div>
      </a>

      <a class="footer_index">
        <div>
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/v3_footer_explore_inactive.svg" alt="">
          <p class="mb0px fw_400 fs_10px lh_15px fc_ffffff_0_5">
            Explore
          </p>
        </div>


        <div class="display_none">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/v3_footer_home_active.svg" alt="">
          <p class="mb0px fw_600 fs_10px lh_15px fc_ffffff">
            Explore
          </p>
        </div>
      </a>

      <a class="footer_index">
        <div>
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/v3_footer_journal_inactive.svg" alt="">
          <p class="mb0px fw_400 fs_10px lh_15px fc_ffffff_0_5">
            Journal
          </p>
        </div>

        <div class="display_none">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/v3_footer_journal_active.svg" alt="">
          <p class="mb0px fw_600 fs_10px lh_15px fc_ffffff">
            Journal
          </p>
        </div>
      </a>

      <a class="footer_index">
        <div>
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/v3_footer_forum_inactive.svg" alt="">
          <p class="mb0px fw_400 fs_10px lh_15px fc_ffffff_0_5">
            Forum
          </p>
        </div>

        <div class="display_none">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/v3_footer_forum_active.svg" alt="">
          <p class="mb0px fw_600 fs_10px lh_15px fc_ffffff">
            Forum
          </p>
        </div>
      </a>

      <a class="footer_index">
        <div>
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/profile_inactive.svg" alt="">
          <p class="mb0px fw_400 fs_10px lh_15px fc_ffffff_0_5">
            Profile
          </p>
        </div>

        <div class="display_none">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/profile_active.svg" alt="">
          <p class="mb0px fw_600 fs_10px lh_15px fc_ffffff">
            Profile
          </p>
        </div>

        <div class="display_none">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/footer/dashboard/login.svg" alt="">
          <p class="mb0px davy-s_grey">
            Login
          </p>
        </div>
      </a>

    </div>
  </div>
</div>
<!-- /footer -->