<!-- related wisdom stories -->
<div class="row mt34px mb24px">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h4 class="txt212 mtb0px">
      Related Wisdom Stories
    </h4>
  </div>
</div>

<!-- story 1 -->
<a>
  <div class="row center_flex pt10px">
    <div class="col-md-12 col-sm-12 col-xs-12 p0 dflex">
      
      <div class="col-md-2 col-sm-2 col-xs-3 p0">
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/wisdom_stories/timothy-eberly-2JV3dbrFt-Y-unsplash.jpg" alt="" class="w100 c128px">
      </div>
      
      <div class="col-md-10 col-sm-10 col-xs-9 center_flex index_wisdom_stories">

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
            <div class="col-md-8 col-sm-8 col-xs-10 p0">
              <h6 class="txt69 mtb0px">
                An eating disorder
              </h6>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-2 p0 tright">
              <img src="assets/svgs/icons/ws_like_active.svg" alt="">                        
            </div>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12 p0">
            <h6 class="txt70">
              I’m sure there were losses before, but one of the earliest ones I can...
            </h6>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex pt5px">
            <div class="col-md-6 col-sm-6 col-xs-6 p0">
              <h6 class="txt71 mtb0px">
                Anonymous
              </h6>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 p0">
              <h6 class="txt72 mtb0px">
                20 Dec | 5 mins
              </h6>
            </div>
          </div>
        </div>
        
      </div>

    </div>
    
  </div>
</a>
<!-- /story 1 -->

<div class="panel-group mt44px" id="accordion_ws">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#ws_01">
        <div class="row mt44px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4 class="txt111 mtb0px tcenter">
              View more
            </h4>
          </div>
        </div>
      </a>
    </div>
    <div id="ws_01" class="panel-collapse collapse">
      <div class="panel-body">
        <!-- story 1 -->
        <a>
          <div class="row center_flex pt10px">
            <div class="col-md-12 col-sm-12 col-xs-12 p0 dflex">
              
              <div class="col-md-2 col-sm-2 col-xs-3 p0">
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/wisdom_stories/timothy-eberly-2JV3dbrFt-Y-unsplash.jpg" alt="" class="w100 c128px">
              </div>
              
              <div class="col-md-10 col-sm-10 col-xs-9 center_flex index_wisdom_stories">

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-md-8 col-sm-8 col-xs-10 p0">
                      <h6 class="txt69 mtb0px">
                        An eating disorder
                      </h6>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-2 p0 tright">
                      <img src="assets/svgs/icons/ws_like_active.svg" alt="">                        
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                    <h6 class="txt70">
                      I’m sure there were losses before, but one of the earliest ones I can...
                    </h6>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex pt5px">
                    <div class="col-md-6 col-sm-6 col-xs-6 p0">
                      <h6 class="txt71 mtb0px">
                        Anonymous
                      </h6>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 p0">
                      <h6 class="txt72 mtb0px">
                        20 Dec | 5 mins
                      </h6>
                    </div>
                  </div>
                </div>
                
              </div>

            </div>
            
          </div>
        </a>
        <!-- /story 1 -->
      </div>
    </div>
  </div>
</div>
<!-- /related wisdom stories -->

<div class="pagebreak"></div>