<app-likert-scale>
  <form>
    <h2 class="mtb0px txt13">
      Feedback Survey
    </h2>

    <h4 class="mt0px txt14">
      Anger Module
    </h4>

    <!-- multistep wizard -->
    <div id="svg_wrap"></div>
    <!-- /multistep wizard -->                

    <section>
      <app-progress-slider></app-progress-slider>
      <br>
      <app-progress-slider3></app-progress-slider3>
      <br>
      <app-progress-slider></app-progress-slider>
      <br>
      <app-progress-slider></app-progress-slider>
      <br>
      <app-progress-slider></app-progress-slider>
      <br>
    </section>   

    <section></section>
    <section></section>
    <section></section>
  </form>
</app-likert-scale>

<!-- feedback survey footer  -->
<app-feedback-footer [bg]="bg"></app-feedback-footer>
<!-- /feedback survey footer -->