<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tn_module bg_teal">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 flex_ai">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
        <a class="">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/dashboard.svg" class="img-responsive" alt="HumanWisdom">
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0">
        <a class="tcenter">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/toc.svg" class="img-responsive" alt="HumanWisdom">
        </a>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p0 flex_ai">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
        <a data-toggle="modal" data-target="#exampleModalCenter">
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/edit.svg" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
        <a>
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/bookmark_course_01.svg" class="img-responsive" alt="">
        </a>
        <!-- <a>
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/bookmark_course_active.svg" class="img-responsive" alt="">
        </a> -->
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p0 tright">
        <a>
          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/share_opaque.svg" class="img-responsive" alt="">
        </a>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 p0 hprogressdiv">
      <div class="progress progress-sm hprogress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>
<!-- /top navigation -->

<app-quotation [bg]="bg">
  <form>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <img src="https://d1tenzemoxuh75.cloudfront.net/assets/svgs/icons/quotation.svg" alt="">
      </div>
    </div>

    <hr class="quotation_hr mt30px">

    <h1 class="quotation_txt">
      Holding onto your anger is like drinking poison and expecting the other person to die
    </h1>

    <hr class="quotation_hr">

    <h1 class="quotation_writer">
      Buddha
    </h1>

  </form>
</app-quotation>

<app-course-footer [bg_cft]="bg_cft"></app-course-footer>
