<!-- top navigation -->
<app-tn-dashboard-v03></app-tn-dashboard-v03>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col mc_01">
  <!-- class -->
  <div class="cw100p">
    <div class="row flex_jc_center">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_white tpfys">
        <div class="x_panel p0">
          <div class="x_content p0">

            <div class="plr20px">

              <div class="row mt30px prelative">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback zi0 p0">
                  <input type="search" class="form-control has-feedback-left pfy_search" placeholder="Search">
                  <span class="fa fa-search form-control-feedback left pfy_search_icon pfy_search_icon_ext" aria-hidden="true"></span>
                </div>
              </div>

              <div class="row pfys_title">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="fw_500 fs_21px lh_25px fc_000000 mtb0px tcenter">
                    Hi there!
                  </h4>
                </div>
              </div>

              <div class="row pfys_desc">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="fw_400 fs_15px lh_18px fc_000000 mtb0px tcenter">
                    Select a topic to explore
                  </h4>
                </div>
              </div>
              
              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <button class="btn btn_pfy_search activebtn">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 p0 tleft">
                          Stress & anxiety
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 p0 tright">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive"> -->
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <button class="btn btn_pfy_search">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 p0 tleft">
                          Relationships & friendships
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 p0 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <button class="btn btn_pfy_search">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 p0 tleft">
                          Be happier
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 p0 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <button class="btn btn_pfy_search">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 p0 tleft">
                          Feel calm
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 p0 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <button class="btn btn_pfy_search">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 p0 tleft">
                          Self-esteem & criticism
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 p0 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>

              <div class="row mb15px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <button class="btn btn_pfy_search">
                    <div class="row flex_ai">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10 p0 tleft">
                          Manage your emotions
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 p0 tright">
                          <!-- <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_active.svg" class="img-responsive"> -->
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/pfy_inactive.svg" class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>

            </div>

            <div class="cp0_02">

              <!-- introduction -->
              <!-- accordion -->
              <div class="row mlr-10px_01 accordion_row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <div class="panel-group dpanelgroup" id="accordion">
                    <div class="panel panel-default dpanel dpanel_01">
                      <div class="panel-heading p0">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#ca_i" aria-expanded="true">

                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="">
                                  <h2 class="fw_500 fs_20px lh_23px fc_000000 mtb0px">
                                    Introduction to HumanWisdom
                                  </h2>
                                </div>
                              </div>
                            </div>
                          </a>
                        </h4>
                      </div>
                      <div id="ca_i" class="panel-collapse collapse in">
                        <div class="panel-body p0">

                          <div class="row cmr-10px">
                            <div class="col-md-12 col-sm-12 col-xs-12 odiv pl5px pr15px">

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a>
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/05.png"
                                    alt="User Guide" class="ctimg">
                                  <h4 class="tcenter txt31 attitle">User Guide</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a>
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/01.png"
                                    alt="Discovering Wisdom" class="ctimg">
                                  <h4 class="tcenter txt31 attitle">What is Wisdom?</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a>
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/50.png"
                                    alt="How can wisdom help?" class="ctimg">
                                  <h4 class="tcenter txt31 attitle">How can wisdom help?</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a>
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/51.png"
                                    alt="Benefits of Wisdom" class="ctimg">
                                  <h4 class="tcenter txt31 attitle">Wisdom brings change</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a>
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/03.png"
                                    alt="5 Circles of Wisdom" class="ctimg">
                                  <h4 class="tcenter txt31 attitle">5 Circles of Wisdom</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-6 col-xs-6 prelative">
                                <a>
                                  <img
                                    src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/tiles/dashboard/vectorless/04.png"
                                    alt="Key Ideas" class="ctimg">
                                  <h4 class="tcenter txt31 attitle">Key Ideas</h4>
                                  <div class="progress dprogress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </a>
                              </div>

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /accordion -->
              <!-- /introduction -->

              <!-- daily practice -->
              <!-- accordion -->
              <div class="row mlr-10px_01 accordion_row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <div class="panel-group dpanelgroup" id="accordion">
                    <div class="panel panel-default dpanel dpanel_01">
                      <div class="panel-heading p0">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#adp" aria-expanded="true">
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                                <div class="col-md-8 col-sm-8 col-xs-8 p0">
                                  <h2 class="fw_500 fs_20px lh_23px fc_000000 mtb0px">
                                    My daily practice
                                  </h2>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 p0">
                                  <a>
                                    <h2 class="fw_400 fs_12px lh_14px fc_000000 mtb0px tright">
                                      Streak:
                                      <span class="fw_700">
                                        07
                                      </span>
                                      days
                                    </h2>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </a>
                        </h4>
                      </div>
                      <div id="adp" class="panel-collapse collapse in">
                        <div class="panel-body p0 m0px">

                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">

                              <div class="col-md-2 col-sm-2 col-xs-2 w20p">
                                <a>
                                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/mdp_video_01.svg" alt="Wisdom Stories" class="crimg">
                                  <h4 class="tcenter fw_400 fs_12px lh_14px fc_000000 mdpd_title">
                                    Breathing exercise
                                  </h4>
                                </a>
                              </div>

                              <div class="col-md-2 col-sm-2 col-xs-2 w20p">
                                <a>
                                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/mdp_journal_01.svg" alt="Journal" class="crimg">
                                  <h4 class="tcenter fw_400 fs_12px lh_14px fc_000000 mdpd_title">
                                    Question of the day
                                  </h4>
                                </a>
                              </div>

                              <div class="col-md-2 col-sm-2 col-xs-2 w20p">
                                <a>
                                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/mdp_quotation_01.svg" alt="Testimonials" class="crimg">
                                  <h4 class="tcenter fw_400 fs_12px lh_14px fc_000000 mdpd_title">
                                    Daily inspiration
                                  </h4>
                                </a>
                              </div>

                              <div class="col-md-2 col-sm-2 col-xs-2 w20p">
                                <a>
                                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/mdp_audio_01.svg" alt="Forum" class="crimg">
                                  <h4 class="tcenter fw_400 fs_12px lh_14px fc_000000 mdpd_title">
                                    Audio meditation
                                  </h4>
                                </a>
                              </div>

                              <div class="col-md-2 col-sm-2 col-xs-2 w20p">
                                <a>
                                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/mdp_exercise_01.svg" alt="Forum" class="crimg">
                                  <h4 class="tcenter fw_400 fs_12px lh_14px fc_000000 mdpd_title">
                                    Daily challenge
                                  </h4>
                                </a>
                              </div>

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /accordion -->
              <!-- /daily practice -->

              <!-- wisdom exercise -->
              <!-- accordion -->
              <div class="row mlr-10px_01 accordion_row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <div class="panel-group dpanelgroup" id="accordion">
                    <div class="panel panel-default dpanel dpanel_01">
                      <div class="panel-heading p0">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="true">

                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0 flex_ai">
                                <div class="col-md-8 col-sm-8 col-xs-8 p0">
                                  <h2 class="fw_500 fs_20px lh_23px fc_000000 mtb0px">
                                    Wisdom Exercises
                                  </h2>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 p0">
                                  <a (click)="RouteToWisdomExercise(null)">
                                    <h2 class="fw_500 fs_15px lh_18px fc_5097a4 underline mtb0px tright">
                                      View all
                                    </h2>
                                  </a>
                                </div>
                              </div>
                            </div>

                          </a>
                        </h4>
                      </div>
                      <div id="" class="panel-collapse collapse in">
                        <div class="panel-body p0 wepanel">

                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 plr0px pb5px">
                              <h4 class="fw_400 fs_15px lh_140p fc_000000 mtb0px bold">
                                Intro
                              </h4>
                            </div>
                          </div>

                          <div class="row cmr-10px ">
                            <div class="col-md-12 col-sm-12 col-xs-12 ghn wediv">

                              <div class="col-md-3 col-sm-3 col-xs-3">
                                <a>
                                  <button type="button" class="btn m0px btn_wed active">
                                    Intro
                                  </button>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-3 col-xs-3">
                                <a>
                                  <button type="button" class="btn m0px btn_wed">
                                    Day 1
                                  </button>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-3 col-xs-3">
                                <a>
                                  <button type="button" class="btn m0px btn_wed">
                                    Day 2
                                  </button>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-3 col-xs-3">
                                <a>
                                  <button type="button" class="btn m0px btn_wed">
                                    Day 3
                                  </button>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-3 col-xs-3">
                                <a>
                                  <button type="button" class="btn m0px btn_wed">
                                    Day 4
                                  </button>
                                </a>
                              </div>

                              <div class="col-md-3 col-sm-3 col-xs-3">
                                <a>
                                  <button type="button" class="btn m0px btn_wed">
                                    Day 5
                                  </button>
                                </a>
                              </div>

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /accordion -->
              <!-- /wisdom exercise -->

              <div class="row mt60px mb60px">
                <a (click)="goDashboard()">
                  <div class="col-md-12 col-sm-12 col-xs-12 tcenter p0">                  
                    <h6 class="fw_500 fs_16px lh_19px fc_1092a7 mtb0px center_flex">
                      <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/module_end_dashboard.svg" alt="">
                      <span class="pl5px pt5px underline">
                        View full dashboard
                      </span>
                    </h6>
                  </div>
                </a>
              </div>   

            </div>

            <div class="pagebreak"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->