<div class="row pt20px">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h6 class="txt152">
      <a class="txt153 underline" data-toggle="modal" data-target="#activate_subscription_01">Click here</a>
      if you already have a Subscription Code
    </h6>
  </div>
</div>

<!-- activate subscription modal -->
<div class="modal fade" id="activate_subscription_01" data-keyboard="false" data-backdrop="true">
  <!-- modal-body -->
  <div class="" role="document">       
    <!-- modal content -->          
    <div class="row center_flex activate_subscription_outer">
      <div class="col-md-12 col-sm-12 col-xs-12 p0 activate_subscription_inner">          
        <div class="mactivate_subscription">
          <div class="row center_flex">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <button type="button" class="btn_popup_close m0px" #closemodal data-dismiss="modal" aria-label="Close">              
                <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/close_white.svg" alt="" class="img-responsive fright">
              </button>
            </div>
          </div>  
          
          <div class="row center_flex">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">     
              <h4 class="txt151 mtb0px">
                Activate Subscription!
              </h4>
            </div>
          </div>  

          <div class="row center_flex as_signup_desc">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">     
              <h4 class="txt89 mtb0px">
                We have sent you an email confirming your subscription. Before you proceed, set a password for your HumanWisdom Pro account.
              </h4>
            </div>
          </div>   

          <div class="row center_flex mb10px">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">     
                <input type="text" id="" class="cfc9 disabled" placeholder="First Name">
              </div>
            </div>
          </div>

          <div class="row center_flex mb10px">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">     
                <input type="text" id="" class="cfc9 disabled" placeholder="Last Name">
              </div>
            </div>
          </div>
          
          <div class="row center_flex mb10px">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">     
                <input type="text" id="" class="cfc9 disabled" placeholder="Set a Password">
              </div>
            </div>
          </div> 

          <div class="row center_flex">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-12 col-sm-12 col-xs-12 p0">     
                <input type="text" id="" class="cfc9 disabled" placeholder="Repeat Password">
              </div>
            </div>
          </div>

          <div class="row center_flex as_signup">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">     
              <button type="button" class="btn btn-warning btn_ms_submit">
                Sign Up
              </button>
            </div>
          </div>  
          
          <div class="row center_flex mb56px">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 tcenter">     
              <a class="btn_ms_ul">
                Skip
              </a>
            </div>
          </div>   
        </div>
      </div>
    </div>
    <!-- /modal content -->      
  </div>  
  <!-- /modal-body -->
</div>
<!-- /activate subscription modal -->