<!-- page content -->
<div class="right_col ml0 center_flex" role="main">
  <!-- class -->
  <div class="cw100p">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
        <div class="x_panel p0">
          <div class="x_content p0 tcenter">
            <form>

              <div class="row mpfy center_flex">
                <div class="col-md-12 col-sm-12 col-xs-10">
                  <h4 class="txt293 mtb0px">
                    Explore 60+ topics in depth
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-10">
                  <!-- bubbles -->
                  <div id="bubble_wrap">
                    <div class="bubble x1">
                      <h4 class="txt210">
                        Happiness
                      </h4>
                    </div>

                    <div class="bubble x2">
                      <h4 class="txt210">
                        Stress
                      </h4>
                    </div>

                    <div class="bubble x3">
                      <h4 class="txt210">
                        Living with peace
                      </h4>
                    </div>

                    <div class="bubble x4">
                      <h4 class="txt210">
                        Opinions & beliefs
                      </h4>
                    </div>

                    <div class="bubble x5">
                      <h4 class="txt210">
                        Love
                      </h4>
                    </div>

                    <div class="bubble x6">
                      <h4 class="txt210">
                        Relationships
                      </h4>
                    </div>

                    <div class="bubble x7">
                      <h4 class="txt210">
                        Criticism
                      </h4>
                    </div>

                    <div class="bubble x8">
                      <h4 class="txt210">
                        Food
                      </h4>
                    </div>

                    <div class="bubble x9">
                      <h4 class="txt210">
                        Communication
                      </h4>
                    </div>

                    <div class="bubble x10">
                      <h4 class="txt210">
                        Self-esteem
                      </h4>
                    </div>

                    <div class="bubble x11">
                      <h4 class="txt210">
                        Work
                      </h4>
                    </div>

                    <div class="bubble x12">
                      <h4 class="txt210">
                        Addiction
                      </h4>
                    </div>

                    <div class="bubble x13">
                      <h4 class="txt210">
                        Success & failure
                      </h4>
                    </div>

                    <div class="bubble x14">
                      <h4 class="txt210">
                        Fear & anxiety
                      </h4>
                    </div>

                    <div class="bubble x15">
                      <h4 class="txt210">
                        Leadership
                      </h4>
                    </div>

                    <div class="bubble x16">
                      <h4 class="txt210">
                        Anger
                      </h4>
                    </div>

                    <div class="bubble x17">
                      <h4 class="txt210">
                        Sorrow & loss
                      </h4>
                    </div>

                    <div class="bubble x18">
                      <h4 class="txt210">
                        Loneliness
                      </h4>
                    </div>

                    <div class="bubble x19">
                      <h4 class="txt210">
                        Breathing
                      </h4>
                    </div>

                    <div class="bubble x20">
                      <h4 class="txt210">
                        Reactive mind
                      </h4>
                    </div>
                    
                    <div class="bubble x21">
                      <h4 class="txt210">
                        Pleasure
                      </h4>
                    </div>

                    <div class="bubble x22">
                      <h4 class="txt210">
                        Meditation
                      </h4>
                    </div>

                    <div class="bubble x23">
                      <h4 class="txt210">
                        Emotional needs
                      </h4>
                    </div>

                    <div class="bubble x24">
                      <h4 class="txt210">
                        Envy
                      </h4>
                    </div> 
                  </div>
                  <!-- /bubbles -->
                </div>
              </div>

              <!-- <div class="pagebreak"></div> -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->