<!-- top navigation -->
<div class="row center_flex">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 bg_chathams_blue mdp_header">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a>
        <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/back_white_search.svg" alt="" class="img-responsive">
      </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h4 class="txt210 mtb0px tcenter">
        Wisdom Points History
      </h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

    </div>
  </div>
</div>
<!-- /top navigation --> 

<!-- page content -->
<div class="right_col mc_01">				
  <!-- Class -->
  <div class="cw100p">   
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 sc_01 bg_white">
        <div class="x_panel p0">
          <div class="x_content p0">

            <!-- content  -->
            <div class="plr10px content_top">
              <div class="row center_flex mlr-10px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                  <ul class="nav nav-tabs wisdom_points_nav_tabs">
                    <li class="active">
                      <a data-toggle="tab" href="#tab1" class="txt213">
                        Points Received
                      </a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#tab2" class="txt213">
                        Points Used
                      </a>
                    </li>
                  </ul>

                  <div class="tab-content">

                    <div id="tab1" class="tab-pane fade in active">
                      <!-- row 1 -->
                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wpts_date">
                            <h4 class="mtb0px txt137 tleft">
                              Sat, 11 Sep 2021
                            </h4>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
                              <h4 class="mtb0px txt120">
                                App Usage
                              </h4>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                              <h4 class="mtb0px txt208 tright">
                                +212
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <hr class="hr_style_14">
                        </div>
                      </div>
                      <!-- /row 1 -->

                      <!-- row 2 -->
                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wpts_date">
                            <h4 class="mtb0px txt137 tleft">
                              Fri, 10 Sep 2021
                            </h4>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
                              <h4 class="mtb0px txt120">
                                App Usage
                              </h4>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                              <h4 class="mtb0px txt208 tright">
                                +80
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <hr class="hr_style_14">
                        </div>
                      </div>
                      <!-- /row 2 -->

                      <!-- row 3 -->
                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wpts_date">
                            <h4 class="mtb0px txt137 tleft">
                              Thu, 9 Sep 2021
                            </h4>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
                              <h4 class="mtb0px txt120">
                                Bonus
                              </h4>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                              <h4 class="mtb0px txt208 tright">
                                +12
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <hr class="hr_style_14">
                        </div>
                      </div>
                      <!-- /row 3 -->
                    </div>
              
                    <div id="tab2" class="tab-pane fade">
                      <!-- row 1 -->
                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wpts_date">
                            <h4 class="mtb0px txt137 tleft">
                              Sat, 11 Sep 2021
                            </h4>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
                              <h4 class="mtb0px txt120">
                                HumanWisdom.me
                              </h4>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                              <h4 class="mtb0px txt208 tright">
                                -1000
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <hr class="hr_style_14">
                        </div>
                      </div>
                      <!-- /row 1 -->

                      <!-- row 2 -->
                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wpts_date">
                            <h4 class="mtb0px txt137 tleft">
                              Fri, 10 Sep 2021
                            </h4>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
                              <h4 class="mtb0px txt120">
                                treesisters.org
                              </h4>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                              <h4 class="mtb0px txt208 tright">
                                -5000
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <hr class="hr_style_14">
                        </div>
                      </div>
                      <!-- /row 2 -->

                      <!-- row 3 -->
                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wpts_date">
                            <h4 class="mtb0px txt137 tleft">
                              Thu, 9 Sep 2021
                            </h4>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p0">
                              <h4 class="mtb0px txt120">
                                HumanWisdom.me
                              </h4>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p0">
                              <h4 class="mtb0px txt208 tright">
                                -1000
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row center_flex">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                          <hr class="hr_style_14">
                        </div>
                      </div>
                      <!-- /row 3 -->
                    </div>

                  </div>
                </div>
              </div>

              <div class="pagebreak"></div>
            </div>
            <!-- /content  -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<app-bottom-navigation></app-bottom-navigation>
<!-- /footer -->