<!-- header -->
<app-toc-topnav></app-toc-topnav>
<!-- /header -->

<!-- page content -->
<div class="right_col mc_01">
    <!-- class -->
    <div class="cw100p">
      <div class="row flex_jc_center">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p0 bg_mdp sc_01">
          <div class="x_panel p0">
            <div class="x_content p0">
            <form>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="ob_txt1">
                      My Programs
                  </h4>  
                </div>                  
              </div>

              <hr class="shr1">

              <div class="row active_programs">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tleft">
                      <h6 class="txt59">
                          Active Programs 
                      </h6>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <h6 class="txt59">
                          2
                      </h6>
                  </div>
              </div>

              <div class="row center_flex pt20px">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tleft">
                      <h6 class="txt106">
                          Parents #1
                      </h6>
                      <h6 class="txt119">
                          Program Code: A580IUBG
                      </h6>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <h6 class="txt120">
                          Auto-renew: 10 Apr 21
                      </h6>
                  </div>
              </div>

              <div class="row center_flex">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0">
                      <h6 class="txt121 tleft mtb0px">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/user/subscription_01.svg" alt="" class="">
                          Nita Hamm
                      </h6>                        
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <button class="btn btn-default dn_autorenew" type="button">                            
                          Do not Auto-renew
                      </button>
                  </div>
              </div>

              <hr class="shr2">

              <div class="row center_flex pt20px">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tleft">
                      <h6 class="txt106">
                          Children (&lt;13 years)
                      </h6>
                      <h6 class="txt119">
                          Program Code: A580IUBG
                      </h6>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <h6 class="txt120">
                          Expiry: 10 Apr 21
                      </h6>
                  </div>
              </div>

              <div class="row spt10px">
                  <div class="col-md-6 col-sm-6 col-xs-8 p0">
                      <div class="col-md-2 col-sm-2 col-xs-2 p0">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/gift.svg" alt="" class="">
                      </div>
                      <div class="col-md-10 col-sm-10 col-xs-10 p0">
                          <h6 class="stxt61 tleft mtb0px">                            
                              Agata Corcrain
                          </h6>  
                          <h6 class="stxt61 tleft mtb0px">                            
                              agata.corcrain@gmail.com
                          </h6>  
                      </div>                                           
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-4 p0 tright">
                      <button class="btn btn-warning btn_apply_coupon w100" type="button">                            
                          Renew Now
                      </button>
                      <h6 class="stxt54 tright">                            
                          Activate Auto-Renew
                      </h6>  
                  </div>
              </div>

              <div class="row active_programs mt30px">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tleft">
                      <h6 class="txt59">
                          Not Yet Started
                      </h6>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <h6 class="txt59">
                          2
                      </h6>
                  </div>
              </div>

              <div class="row center_flex pt30px">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tleft">
                      <h6 class="txt106">
                          Children (&lt;13 years)
                      </h6>
                      <h6 class="txt119">
                          Program Code: A580IUBG
                      </h6>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <h6 class="txt122">
                          Invite Sent
                      </h6>
                  </div>
              </div>

              <hr class="shr2">

              <div class="row center_flex">
                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tleft">
                      <h6 class="txt106">
                          Children (&lt;13 years)
                      </h6>
                      <h6 class="txt119">
                          Program Code: A580IUBG
                      </h6>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-6 p0 tright">
                      <h6 class="txt122">
                          Invite Sent
                      </h6>
                  </div>
              </div>

              <hr class="shr2">  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
      

