<!-- page content -->
<div class="right_col mc_03">
  <!-- class -->
  <div class="cw100p">
    <div class="row flex_jc_center">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p0 sc_01 bg_white">
        <div class="x_panel p0">
          <div class="x_content p0 tcenter">
            <form>

              <!-- carousel -->
              <div class="container">
                <div id="ic_carousel" class="carousel slide tc" data-ride="carousel" data-interval="false">

                  <div class="row center_flex">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 tci">
                      <ol class="carousel-indicators">
                        <li data-target="#ic_carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#ic_carousel" data-slide-to="1"></li>
                        <li data-target="#ic_carousel" data-slide-to="2"></li>
                        <li data-target="#ic_carousel" data-slide-to="3"></li>
                        <li data-target="#ic_carousel" data-slide-to="4"></li>
    
                        <a class="left carousel-control jc_flexstart">
                          <h4 class="fw_400 fs_15px lh_18px fc_5d5d5d mtb0px">
                            Skip
                          </h4>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control jc_flexend">
                          <h4 class="fw_400 fs_15px lh_18px fc_5d5d5d mtb0px">
                            Next
                          </h4>
                          <span class="sr-only">Next</span>
                        </a>
                        <a class="right carousel-control jc_flexend" id="activenext" href="#ic_carousel" data-slide="next">
                          <h4 class="fw_400 fs_15px lh_18px fc_5d5d5d mtb0px">
                            Next
                          </h4>
                          <span class="sr-only">Next</span>
                        </a>
                      </ol>
                    </div>
                  </div>

                  <div class="carousel-inner">
                    <!-- slide 1 -->
                    <div class="item active 0">
                      <div class="row center_flex safari_dblock">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0">
                          <img (load)="onLoad()"
                            src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/introductory/tc_01.svg"
                            alt="" class="img-responsive w100">
                        </div>
                      </div>

                      <div class="row ic_title">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <h4 class="fw_500 fs_36px lh_42px fc_1092a7 mtb0px">
                            Manage your emotions
                          </h4>
                        </div>
                      </div>

                      <div class="row center_flex safari_dblock">
                        <div class="col-md-12 col-sm-12 col-xs-12 plr20px">
                          <h4 class="fw_400 fs_18px lh_140p fc_000000 mtb0px">
                            Understand your emotions like fear, anger, and loneliness and learn to manage them better
                          </h4>
                        </div>
                      </div>
                    </div>
                    <!-- /slide 1 -->

                    <!-- slide 2 -->
                    <div class="item 1">
                      <div class="row center_flex safari_dblock">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0">
                          <img
                            src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/introductory/tc_02.svg"
                            alt="" class="img-responsive w100">
                        </div>
                      </div>

                      <div class="row ic_title">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <h4 class="fw_500 fs_36px lh_42px fc_1092a7 mtb0px">
                            Beat the stress at school
                          </h4>
                        </div>
                      </div>

                      <div class="row center_flex safari_dblock">
                        <div class="col-md-12 col-sm-12 col-xs-12 plr20px">
                          <h4 class="fw_400 fs_18px lh_140p fc_000000 mtb0px">
                            Learn how to deal with challenges like stress, exam pressure, criticism and self-esteem
                          </h4>
                        </div>
                      </div>
                    </div>
                    <!-- /slide 2 -->

                    <!-- slide 3 -->
                    <div class="item 2">
                      <div class="row center_flex safari_dblock">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0">
                          <img
                            src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/introductory/tc_03.svg"
                            alt="" class="img-responsive w100">
                        </div>
                      </div>

                      <div class="row ic_title">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <h4 class="fw_500 fs_36px lh_42px fc_1092a7 mtb0px">
                            Improve your relationships
                          </h4>
                        </div>
                      </div>

                      <div class="row center_flex safari_dblock">
                        <div class="col-md-12 col-sm-12 col-xs-12 plr20px">
                          <h4 class="fw_400 fs_18px lh_140p fc_000000 mtb0px">
                            Learn how to make friends, avoid conflict, and have meaningful relationships
                          </h4>
                        </div>
                      </div>
                    </div>
                    <!-- /slide 3 -->

                    <!-- slide 4 -->
                    <div class="item 3">
                      <!-- <div class="row micb center_flex safari_dblock">
                        <div class="col-md-12 col-sm-12 col-xs-12 plr20px">
                          <h4 class="fw_500 fs_36px lh_42px fc_000000 mtb0px">
                            Explore 60+ topics in depth
                          </h4>
                        </div>
                      </div> -->

                      <div class="row center_flex safari_dblock">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0">
                          <img
                            src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/introductory/tc_04.svg"
                            alt="" class="img-responsive w100">
                        </div>
                      </div>
                    </div>
                    <!-- /slide 4 -->

                    <!-- slide 5 -->
                    <div class="item 4">
                      <div class="row center_flex safari_dblock">
                        <div class="col-md-12 col-sm-12 col-xs-12 p0">
                          <img
                            src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/tiles/introductory/tc_05.svg"
                            alt="" class="img-responsive w100">
                        </div>
                      </div>

                      <div class="row ic_title">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <h4 class="fw_500 fs_30px lh_140p fc_1092a7 mtb0px">
                            Adam Beagley
                          </h4>

                          <h6 class="fw_400 fs_15px lh_140p fc_1092a7 mtb0px">
                            STUDENT
                          </h6>
                        </div>
                      </div>

                      <div class="row center_flex safari_dblock tleft italic">
                        <div class="col-md-12 col-sm-12 col-xs-12 plr20px">
                          <h4 class="fw_400 fs_15px lh_140p fc_000000 mt0px">
                            HumanWisdom has helped me become emotionally intelligent. I used to be shy, passive and fearful. However, this app has transformed my way of thinking in many ways. It helped me relieve my anxiety, by processing the cause of my anxiety first.
                          </h4>

                          <h4 class="fw_400 fs_15px lh_140p fc_000000 mtb0px">
                            The best thing about the app is that it teaches you things that stick with you for life. As a student I understand how difficult it can financially be. But this app is much cheaper than a gym membership, and I believe enhancing mental well-being is even more important than enhancing physical well-being.
                          </h4>
                        </div>
                      </div>
                    </div>
                    <!-- /slide 5 -->
                  </div>

                </div>
              </div>
              <!-- /carousel -->

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/class -->
</div>
<!-- /page content -->