<!-- page content -->
<div class="right_col mc_03">				
  <!-- Class -->  
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 center_flex teal_w1">
        <div class="x_panel p0">                                    
          <div class="x_content p0">
            
            <form>
              <div class="row center_flex flex_align">
                <div class="col-md-12 col-sm-12 col-xs-12 tcenter p0">                    
                  <h4 class="txt11 txt11_lh">
                    Please take a moment to fill out this survey. It will help us actively improve our programs.
                  </h4>
                </div>
              </div>                    
          
              <br><br>
          
              <div class="row center_flex flex_align">
                <div class="col-md-3 col-sm-3 col-xs-12 tcenter p0">                    
                  <a>
                    <button type="button" class="btn btn-success mb0 w100 btn_begin_here_orange" data-dismiss="modal">Begin here</button>
                  </a>
                </div>
              </div>                    
          
              <br>
          
              <div class="row center_flex flex_align">
                <div class="col-md-3 col-sm-3 col-xs-12 tcenter p0">                    
                  <a>
                    <button type="button" class="btn btn-default mb0 w100 btn_skip txt5 tcenter" data-dismiss="modal">Skip</button>
                  </a>
                </div>
              </div>                    
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<app-ft-prev></app-ft-prev>