<!-- top navigation -->
<app-course-header [bg_tn]="bg_tn"></app-course-header>
<!-- /top navigation -->  

<!-- page content -->
<div class="right_col mc_01">	
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_orange">
        <div class="x_panel p0"> 
          <div class="x_content p0">
            <div class="row pb3rem">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="tcenter">
                  <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/lightbulb.svg" alt="" class="img_kta cmw">
                </div>
              </div>
            </div>  		
            
            <form class="">          
              <h1 class="txt3">
                A deeper understanding of comparison allows us to respond with wisdom and avoid many of the problems it can cause.
              </h1>

              <div class="clearfix"></div>                       
          
              <div class="row tcenter ptkta">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <a class="kta_done_pulse_button" routerLink="/adults/comparison/s16p1">
                    <h6 class="kta_done_pulse_button_label">
                      Done
                    </h6>
                  </a>
                </div>
              </div>
            </form>   

            <div class="pagebreak"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<!-- <app-course-footer [bg_cft]="bg_cft"></app-course-footer> -->
<app-ft-prev [bg_cft]="bg_cft"></app-ft-prev>
<!-- /footer -->