<!-- page content -->
<div class="right_col mc_03">
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sc_01 bg_login_signup">
        <div class="x_panel p0">
          <div class="x_content p0">
            <div class="container">
              <ul class="nav nav-tabs login_signup_tab flex_ai">
                <li>
                  <a data-toggle="tab" href="#tab1">
                    Sign up
                  </a>
                </li>
                <li class="active">
                  <a data-toggle="tab" href="#tab2">
                    Login
                  </a>
                </li>                  
              </ul>
        
              <div class="tab-content mt40px">
                <!-- signup -->
                <div id="tab1" class="tab-pane fade">
                  <form>
                    <div class="row ls_connect_with">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt243 mtb0px tcenter">
                          CONNECT WITH
                        </h4>
                      </div>
                    </div>

                    <div class="row center_flex">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <button type="submit" class="btn btn-default w100 btn_login_signup tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/facebook_ls.svg" alt="" class="img-responsive">                            
                          </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <button type="submit" class="btn btn-default w100 btn_login_signup tcenter">
                            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/google_ls.svg" alt="" class="img-responsive">                            
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="row ls_or_signup">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt243 mtb0px tcenter">
                          OR SIGN UP
                        </h4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="fullname" class="txt189 mt0px">First Name*</label>
                        <input type="text" id="fullname" class="form-control cfc8" name="firstname" required />
                      </div>
                    </div>

                    <div class="row mt15px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="fullname" class="txt189 mt0px">Last Name*</label>
                        <input type="text" id="fullname" class="form-control cfc8" name="lastname" required />
                      </div>
                    </div>

                    <div class="row mt15px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="fullname" class="txt189 mt0px">Email address*</label>
                        <input type="email" id="fullname" class="form-control cfc8" name="fullname" required />
                      </div>
                    </div>

                    <div class="row mt15px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="fullname" class="txt189 mt0px">Password*</label>
                        <input type="password" id="fullname" class="form-control cfc8" name="fullname" required />
                      </div>
                    </div>

                    <div class="row mt15px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="fullname" class="txt189 mt0px">Repeat password*</label>
                        <input type="password" id="fullname" class="form-control cfc8" name="fullname" required />
                      </div>
                    </div>

                    <div class="row mt20px">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                        <h4 class="txt190 m0px pl8px">
                          By continuing, you agree to our 
                          <a>
                            <span class="txt190 bold underline">Terms of Use</span>
                          </a>
                          &nbsp;and&nbsp; 
                          <a>
                            <span class="txt190 bold underline">Privacy Policy </span>
                          </a>
                        </h4>
                      </div>
                    </div>

                    <!-- ios -->
                    <!-- <div class="row mt21px">
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <button type="submit" class="btn btn-default w100 btn_scan_ios">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/scan_ios.svg" alt="" class="img-responsive w100p">
                        </button>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 pl0">
                        <button type="submit" class="btn btn-default w100 btn_login_signup">Sign Up</button>
                      </div>
                    </div> -->
                    <!-- /ios -->

                    <!-- windows -->
                    <div class="row btn_ls_signup">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="btn btn-default w100 btn_login_signup">Sign Up</button>
                      </div>
                    </div>
                    <!-- /windows -->

                    <div class="row ls_already_user">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="txt244 tcenter mtb0px" style="cursor: pointer;">
                          Already a user? 
                          <a class="txt245 underline">
                            Login here
                          </a>
                        </h4>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /signup -->

                <!-- login -->
                <div id="tab2" class="tab-pane fade in active">
                  <div class="row ls_connect_with">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt243 mtb0px tcenter">
                        CONNECT WITH
                      </h4>
                    </div>
                  </div>

                  <div class="row center_flex">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button type="submit" class="btn btn-default w100 btn_login_signup tcenter">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/facebook_ls.svg" alt="" class="img-responsive">                            
                        </button>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button type="submit" class="btn btn-default w100 btn_login_signup tcenter">
                          <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/google_ls.svg" alt="" class="img-responsive">                            
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="row ls_or_login">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h4 class="txt243 mtb0px tcenter">
                        OR LOGIN
                      </h4>
                    </div>
                  </div>

                  <div class="row mt15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <label for="fullname" class="txt189 mt0px">Email address*</label>
                      <input type="email" id="fullname" class="form-control cfc8" name="fullname" required />
                    </div>
                  </div>

                  <div class="row mt15px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <label for="fullname" class="txt189 mt0px">Password*</label>
                      <input type="password" id="fullname" class="form-control cfc8" name="fullname" required />
                    </div>
                  </div>

                  <div class="row mt30px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="checkbox p0 mtb0px">
                        <label class="mt0px inline_box ls_checkbox">
                          <input type="checkbox" name="remember" value=""/>   
                          <span></span>                          
                          <h4 class="txt190 m0px pl8px">
                            Remember me                               
                          </h4>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="row btn_ls_login">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <button type="submit" class="btn btn-default w100 btn_login_signup">Login</button>
                    </div>
                  </div>

                  <div class="row ls_forgot_password">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <a routerLink="/onboarding/forgotpassword">
                        <h4 class="txt192 tcenter mtb0px" style="cursor: pointer;">
                          Forgot Password?
                        </h4>
                      </a>
                    </div>
                  </div>                    
                </div>
                <!-- /login -->
              </div>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->